---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Stella's Amazing Astro Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>One blue cat's quest for world domination via website coding</h2>
  <Greeting client:load messages={["Hi", "Pspspsps", "Meow", "Purr"]} />
</BaseLayout>
